<div class="container main-padding-bottom-sm main-padding-top">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Welcome To Xavier</h1>
            <div class="text-center">
                <img src="dist/imgs/transparent-airplane.ico">
            </div>
            <div class="caption">
                <h3 class="text-center">Your Premier Private Jet Liability Insurance Portal</h3>
            </div>
        </div>
    </div>
</div>
<div class="main-background-teal main-padding-top-sm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="lead text-center">The only place you can go to get fast quotes for your private jet!</h4>
            </div>
        </div>
        <div class="row main-padding-top-sm">
        	<div class="col-xs-1"></div>
            <div class="col-xs-2">
                <img class="img-responsive" src="dist/imgs/paper.ico">
                <h4 class="text-center">Fill Out Form</h4>
            </div>
            <div class="col-xs-2">
                <img class="img-responsive" src="dist/imgs/right-arrow.ico">
            </div>
            <div class="col-xs-2">
                <img class="img-responsive" src="dist/imgs/cash.ico">
                <h4 class="text-center">Get Prices</h4>
            </div>
            <div class="col-xs-2">
                <img class="img-responsive" src="dist/imgs/right-arrow.ico">
            </div>
            <div class="col-xs-2">
                <img class="img-responsive" src="dist/imgs/airplane.ico">
                <h4 class="text-center">Get Flying</h4>
            </div>
        </div>
    </div>
</div>