<div class="container main-padding-top-md">
    <div class="row">
        <div class="col-xs-12">
            <h1 data-ng-bind="newsCtrl.title"></h1>
        </div>
    </div>
    <div class="row">
    	<div class="col-xs-12">
            <h1>Xavier News:</h1>
        </div>
    </div>
    <div class="row" data-ng-if="newsCtrl.articles.length <= 0">
        <h1>Coming Soon!</h1>
    </div>
    <div class="row" data-ng-if="newsCtrl.articles.length > 0" data-ng-repeat="art in newsCtrl.articles">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3><span data-ng-bind="art.title"></span><small> - <span data-ng-bind="art.author"></span></small></h3>
                </div>
            </div>
            <div class="panel-body" data-ng-bind-html="art.body | safeHtml">
            </div>
        </div>
    </div>
</div>