<div class="container main-padding-top">
    <div class="row" data-ng-if="!adminCtrl.isAdmin">
        <div class="col-xs-12">
            <h1>Admin Portal Signin</h1>
            <form data-ng-submit="adminCtrl.checkPassword()">
                <div class="form-group">
                    <label for="adminPasscode">Passcode</label>
                    <input type="password" class="form-control" id="adminPasscode" data-ng-model="adminCtrl.password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" data-ng-if="adminCtrl.isAdmin">
        <div class="col-xs-12">
            <h1>Welcome Admin!</h1>
            <div class="page-header">
                <h3>Articles: </h3>
            </div>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="art in adminCtrl.articles">
                        <td data-ng-bind="$index + 1"></td>
                        <td data-ng-bind="art.date | date"></td>
                        <td data-ng-bind="art.title"></td>
                        <td data-ng-bind="art.author"></td>
                        <td>
                            <span class="btn btn-xs glyphicon glyphicon-edit cursor-pointer" aria-hidden="true" data-ng-click="adminCtrl.articleFormEdit($index)"></span>
                            <span class="btn btn-xs glyphicon glyphicon-remove text-red cursor-pointer" aria-hidden="true" data-ng-click="adminCtrl.articleDelete(art._id)"></span>
                        </td>
                    </tr>
                    <tr data-ng-click="adminCtrl.articleFormEdit()" class="cursor-pointer">
                        <td></td>
                        <td colspan="4">Create New +</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel panel-default" data-ng-hide="!adminCtrl.isEditing">
                <div class="panel-heading">
                    <div>
                        <h3 data-ng-bind="adminCtrl.editHeader"></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form data-ng-submit="adminCtrl.submitArticle()">
                        <div class="form-group">
                            <label for="adminPasscode">Title</label>
                            <input type="text" class="form-control" id="adminPasscode" data-ng-model="adminCtrl.article.title" required>
                        </div>
                        <div class="form-group">
                            <label for="adminPasscode">Author</label>
                            <input type="text" class="form-control" id="adminPasscode" data-ng-model="adminCtrl.article.author" required>
                        </div>
                        <div class="form-group">
                            <label for="adminPasscode">Body</label>
                            <textarea class="form-control" id="adminPasscode" data-ng-model="adminCtrl.article.body" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <button class="btn btn-default" data-ng-click="adminCtrl.articleReset()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>